body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('https://i.ibb.co/BHkcd2B/Zoroastrismo.jpg') no-repeat center center fixed;
    background-size: cover;
    background-color: #f0f0f0;
}

header {
    background-color: #8b0000;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
}

nav {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    cursor: pointer;
}

nav a:hover {
    background-color: #575757;
    border-radius: 5px;
}

.container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.content {
    width: 70%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
}

.content h2 {
    color: #8b0000;
}

.content p {
    line-height: 1.6;
}

.content img {
    width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 5px;
}

footer {
    background-color: #8b0000;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
